<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>            <string>Kikazaru</string>
    <key>CFBundleDisplayName</key>     <string>Kikazaru</string>
    <key>CFBundleIdentifier</key>      <string>com.noplan.kikazaru</string>
    <key>CFBundleExecutable</key>      <string>Kikazaru</string>
    <key>CFBundlePackageType</key>     <string>APPL</string>
    <key>CFBundleShortVersionString</key> <string>1.0.0</string>
    <key>CFBundleVersion</key>         <string>1</string>
    <key>LSMinimumSystemVersion</key>  <string>14.0</string>
    <key>LSUIElement</key>             <true/>
    <key>NSHumanReadableCopyright</key><string>no plan inc.</string>

    <!-- スピーカーを探すために同じネットワーク上の機器へアクセスする -->
    <key>NSLocalNetworkUsageDescription</key>
    <string>同じネットワーク上のスピーカーを見つけて、音量を調整するために使用します。</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_googlecast._tcp</string>
        <string>_soundtouch._tcp</string>
        <string>_sonos._tcp</string>
    </array>
</dict>
</plist>
